:root {
    font-size: 10px;
    --primary-color: rgb(245,245,245);
    --secondary-color: #E71905;
    --tertiary-color:#263032;

    --font-size-small: calc(1.2rem + 0.35vw);
    --font-size-regular: calc(1.4rem + 0.8vw);
    --font-size-medium: calc(1.5rem + 1.5vw);
    --font-size-large:  calc(1.5rem + 2.5vw);

    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-bold: 700;

    font-family: 'Assistant', sans-serif;
}


i {
    list-style: none;
  }

  a:link,
  a:visited {
      text-decoration: none;
  }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
    width: 200px;
}

.hidden {
    display: none;
    visibility: hidden;
    position: absolute;
    left: -200px
}

*:focus {
    outline: none;
    }


.main-container {
    height: 100vh;
    width: 100vw;
    background-color: var(--primary-color);
   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}


/*********************** WELCOME PAGE ***********************/
.welcome-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 
    width: 70%;
    height: 70%;
}

.welcome-screen--button {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 20px 30px;
    cursor: pointer;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-regular);
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
}

.welcome-screen--choose-language-text {
    display: block;
    text-align: center;
    width: 100%;
    font-size: var(--font-size-small);
    border-top: 1px solid var(--tertiary-color);
    margin-top: 50px;
    padding-top: 20px;
    
}

.welcome-screen--switch-to-polish,
.welcome-screen--switch-to-english {
    margin: 30px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 20px 30px;
    cursor: pointer;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-small);
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
}

.welcome-screen--button:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
.welcome-screen--switch-to-polish.clicked,
.welcome-screen--switch-to-english.clicked {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

/*********************** VALIDATION PAGE ***********************/

.validation-screen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: max-content;
    min-height: max-content;
    width: 60%;
    height: 60%;
    background-color: white;
    border: 2px solid var(--tertiary-color);
    border-radius: 10px;
    padding: 0px 10px;
   
}

.validation-screen__form {
    font-size: var(--font-size-medium);
    color:var(--tertiary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: max-content;
}

.validation-screen__form__input-container--phone-number,
.validation-screen__form__input-container--pickup-number{
    padding-bottom: 30px;
    width: 100%;
}

.container--phone-numbers {
    display: flex;
    justify-content: space-between;

    
}
.validation-screen__form__input-container--phone-number  label{
    padding-bottom: 20px;
    display: block
}

.validation-screen__form__input-container--phone-number input {
    text-align: center;
    vertical-align:middle;
    width: 70px;
    padding: 3px 0;
    font-size: var(--font-size-regular);
    border: 2px solid black;
   
}

.dash {

    display: block
}


.validation-screen__form__input-container--pickup-number label {
padding-bottom: 20px;
 display: block;
}
.validation-screen__form__input-container--pickup-number input {
    width: 100%;
    padding: 3px 0px 3px 6px;
    font-size: var(--font-size-regular);
    border: 2px solid black;
}

input.success {
    border: 2px solid #32CD32;
    box-shadow: 5px 5px 1.5px -5px rgba(50, 205, 50, 1);
}

input.error {
    border: 2px solid #E71905;
    box-shadow: 5px 5px 1.5px -5px #E71905;
}
.validation-screen--error-message {
    margin-top: 20px;
    background-color: transparent;
    width: 100%;
    text-align: center;
    height: 40px;
    font-size: var(--font-size-regular);
    color:var(--secondary-color);
}

.validation_screen__form--submit-button {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 20px 30px 20px 35px;
    cursor: pointer;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-small);
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
    text-align: right;
    position: relative;
    width: max-content;
    margin: auto;
   
}

.validation_screen__form--submit-button:hover {
    background-color: white;
    color: var(--secondary-color);
}

.disabled {
    background-color: gray;
    border: none;
}

.disabled:hover {
    background-color: gray;
    color: var(--primary-color);
}

/*********************** SUMMARY SCREEN ***********************/

.summary-screen {
    position: fixed; 
    z-index: 2; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.summary-screen__modal {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    width: 80%; 
    height: 60%;
    padding: 20px;
    border: 2px solid var(--tertiary-color);
    border-radius: 10px;
}

.summary-screen__modal button {
    margin: 30px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 20px 30px;
    cursor: pointer;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-small);
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
}

.summary-screen__modal button:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

@media screen and (max-width: 630px) {
    .summary-screen__modal {
        flex-direction: column;

    }
    .summary-screen__modal button {
       width: 200px;
    }

}

/*********************** SPINNER ***********************/

.loading {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid var(--secondary-color);
    border-radius: 50%;
    border-top-color: var(--tertiary-color);
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
  }
  
  @keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  }
  @-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  }

  .button-loading::after {
    position: absolute;
    content: "";
    display: inline-block;
    width: 23px;
    height: 23px;
    border: 3px solid var(--tertiary-color);
    border-top-color: var(--primary-color);
    border-radius: 50%;
    left: 3%;
    margin-right: 5px;
    animation: button-spin 1s ease-in-out infinite;
  }

  @keyframes button-spin {
    to { -webkit-transform: rotate(360deg); }
  }
  @-webkit-keyframes button-spin {
    to { -webkit-transform: rotate(360deg); }
  }

 